{% extends "base.html" %}

{% block content %}
	<div class="container p-4" >
		<div class="row align-items-start">
			


			<div class="col" >
				<div class="row">
					<div class="canvas">
						<canvas id="myCanvas" width="600" height="600" class="rounded" style="display: block; margin: 0 auto; border: 3px outset #244e5e;"></canvas>
					</div>
				</div>

				<div class="row p-2 align-items-center">
					<div class ="col text-center">
						<button id="resetbutton" type="button" class="btn btn-dark btn-sm align-self-center">Reset</button>
						<button id="undo_button" type="button" class="btn btn-dark btn-sm align-self-center">Undo</button>
					</div>
				</div>
			</div>

			<div class="col border rounded">
	      		<table class="table" id="score_table">
				  <thead>
				    <tr>
				      <th scope="col"></th>
				      <th scope="col">User</th>
				      <th scope="col">Score</th>
			
				    </tr>
				  </thead>
				  <tbody>
					{% for i in range(scores|length) %}
					    <tr>
					      <td>{{ i+1 }}</td>
					      <td>{{ scores[i][0].username }}</td>
					      <td>{{ scores[i][1].score }} </td>
					    </tr>
					{% endfor %}
				</tbody>	
				</table>
	    	</div>


		</div>
	</div>
{% endblock %}